#frontpage {
    background-image: url(img/splash-1366x768.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    background-color: #000000;
}

.logo img {
    width: 100%;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
}

.logo,
nav {
    display: inline-block;
}

.logo {
    width: 6%;
    padding-left: 4px;
    padding-top: 4px;
}

header nav a:hover {
    color: deeppink;
}

nav {
    text-align: right;
    float: right;
    width: 90%;
}


/*********************** VARER ***************************/

#splash_jakke .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#splash_jakke .column {
    flex-basis: 300px;
    flex-grow: 2;
}

#splash_jakke {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
}

body {
    background-color: black;
}
